doctype=html
html
  include includes/head.pug
  body
    include includes/navbar.pug
    script(src='config.js')
    script store.currentConfig="#{query.name}"
    h2 Edit or create an IDP and Client configuration
    div#content
      form#form(action="javascript:saveConfigForm()")
        span 
          b Name: 
        input#name(type="text", placeholder="Name of the configuration", title="Enter the name of the configuration")
        p
          b Issuer information:
        span Discover url: 
        input#url(type="text", placeholder="OIDC Discover url", title="Will be used to configure the IDP and is exclusing with the other fields. It takes precedence.")
        p 
        p(style="padding-left: 300px") OR (if Disover url is not set)
        p
        span Authorize url: 
        input#authorization_endpoint(type="text", placeholder="url of the IDP to start the login process", title="The browser will be redirected to this url to start the login process asking the IDP to present to the end user the login form")
        p
        span Token endpoint: 
        input#token_endpoint(type="text", placeholder="url of the IDP token endpoint (called by the back-end)", title="Url of the IDP called by the back-end to convert the one time code into tokens")
        p
        span JWKS endpoint: 
        input#jwks_uri(type="text", placeholder="url of the IDP to get the public keys", title="Url that must returns a jwks structure with the public key used to sign the ID Token. Without it ID Token cannot be verified, and login will fail.")
        p
        span Issuer: 
        input#issuer(type="text", placeholder="iss claim value expected", title="Expected value of the 'iss' claim in the ID Token used to check the token validity")
        p
        span Instrospection endpoint: 
        input#introspection_endpoint(type="text", placeholder="url of the IDP token introspection endpoint (optional, called by the back-end)", title="Url used by the back-end to verify the validity of the access_token and refresh_token and to expose its meaning. It is not mandatory.")
        p
        span User info endpoint: 
        input#userinfo_endpoint(type="text", placeholder="url of the IDP userinfo endpoint (optional, called by the back-end)", title="Url used by the back-end to get the information of the logged user, authenticated with the access_token")
        p
        span End session endpoint: 
        input#end_session_endpoint(type="text", placeholder="url of the IDP to terminate the session (optional)", title="Browser will be redirected to this url when the logout is triggered. After logout, the browser should be redirected back to the tool by the IDP.")
        p
          b Client information:
        span Register as redirect_uri:
        input(type="text", value=""+callback_uri, readonly, title="Take this url and add it as a 'redirect_uri' or 'callback url' in your application (or client) definition in the target IDP.")
        p
        span Client id: 
        input#client_id(type="text", placeholder="id of the oauth2 client provided by the IDP after registration")
        p
        span Client secret: 
        input#client_secret(type="text", placeholder="secret given by the IDP for this client", title="Required for confidential clients in the authorization flow")
        p
        span Scopes: 
        input#scope(type="text", placeholder="space separated list of scopes to request" value="openid", title="List of space separated scopes (rights for the session) the login process will request the IDP to grant the session. If the list contains invalid or unauthorized scope, the login will fail. If 'openid' is not present the ID Token will not be returned.")
        p
        p
        input(type="submit", class="action", value="Save")
